<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <p>
        List Courses
      </p>
    </div>
      <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Course Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students;">
                <td><a routerLink='/edit-student/{{student.studentId}}'>{{student.studentId}}</a></td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentCourse}}</td>

              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="panel-footer">
      <a type="button"  routerLink="/add-student" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add Student</a>
    </div>
  </div>
</div>
